<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>{% block title_block %} Blogs {% endblock%}</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}"><img src="/media/blogg-Home.png" width="50px" alt="Home"> </a>
               
            </li>
            {% if user.is_authenticated %}
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" id="navbardrop">
                   @{{user.username}}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'APP_Blog:create_blog' %}"> Write Blog</a>

                    <a class="dropdown-item" href="{% url 'APP_Blog:my_blogs' %}"> My Blogs </a>
    
                    <a class="dropdown-item" href="{% url 'App_login:Profile' %}"> Your Profile </a>
    
                    <a class="dropdown-item" href="{% url 'App_login:Logout' %}"> Logout </a>
                </div>           
            </div>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'App_login:Signup' %}"> Sign Up </a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'App_login:Login' %}">Login </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="container" style="padding-top: 20px;">
        {% block body_block %}
        

        {% endblock%}
    </div>

</body>

</html>