{% extends 'base.html' %}
{% load custom_filters %}

{% block title_block %} Home {% endblock%}

{% block body_block %} 

<!-- <h1>I am blog Homepage</h1> -->



<!-- {% for blog in blogs %}

   <div style="display: flex; 
   flex-direction: column;
   background-color: oldlace; 
   align-items: center;
   margin: 10px;
   padding: 6px;
   border:solid 2px orangered;">
    <h3>{{ blog.blog_title }} </h3>
    <h5>{{ blog.author }} </h5>
    {% if blog.publish_date == blog.update_date%}
        <p><i>{{ blog.publish_date }}</i></p>
    {% else %}
        <h6><i>updated: {{ blog.update_date }}</i></h6>
    {% endif %}
   </div>
     
{% endfor %} -->


{% for blog in blogs %}


    <h3>{{ blog.blog_title }} </h3>
    {% if blog.publish_date == blog.update_date%}
        <p><i>{{ blog.publish_date }}</i></p>
    {% else %}
        <h6><i>updated: {{ blog.update_date }}</i></h6>
    {% endif %}

    <div class="row">
        <div class="col-sm-5">
            <img src="/media/{{blog.blog_image}}" alt="{{blog.blog_title}}" width=100%>
            <h6>Posted By: <a href="">{{ blog.author }}</a></h6>
        </div>
        <div class="col-sm-7">
            <p>{{ blog.blog_content|range_filter|linebreaks }} 
                <a href="{% url 'APP_Blog:blog_details' blog.slug %}" style="color: blue;">read more</a>
            </p>
            <h6>Posted By: <a href="">{{ blog.author }}</a></h6>
            <h6>{{ blog.liked_blog.count }} likes | {{ blog.blog_comment.count}} comments</h6>
        </div >

    </div>
 

   <hr>
     
{% endfor %}


{% endblock%}